.productPage {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.itemImage {
  width: 100%;
  height: 190px;
  position: relative;
}

.infoSection {
  font-family: Poppins;
  padding: 10px 20px;
}

.header h1 {
  color: #000;
  font-size: 26px;
  font-weight: 700;
}

.header h2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.details h2 {
  color: #f9c108;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.infoSection p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.timeDay {
  display: flex;
  justify-content: space-between;
}

.cartWrap {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0 20px;
}

.cartFunc {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.cartFunc p {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.atcbtn {
  width: 233px;
  height: 47px;
  border-radius: 24px;
  background: #f9c108;
  border-color: transparent;
}

.atctext {
  color: #fff;
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.adjust {
  width: 233px;
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.minus {
  width: 70px;
  height: 100%;
  border-radius: 24px 0 0 24px;
  border-color: transparent;
  background: #f9c108;
}

.plus {
  width: 70px;
  height: 100%;
  border-radius: 0 24px 24px 0;
  border-color: transparent;
  background: #f9c108;
}

.backArrow {
  position: absolute;
  top: 12px;
  left: 24px;
  cursor: pointer;
  border-color: transparent;
  background: transparent;
}
