.pcard {
  /* width: 45vw; */
  height: 210px;
  background: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bgImage {
  width: 40vw;
  height: 140px;
  margin: 5px;
  border-radius: 7px;
}

.text {
  /* display: flex;
  flex-direction: column; */
  /* height: 60px; */
  /* align-items: flex-start; */
}

.lower {
  width: 40vw;
  /* display: flex; */
  /* justify-content: space-between; */
  line-height: 30px;
}

.itemTitle {
  color: #f9c108;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 700;
  word-wrap: break-word;
}

.itemPrice {
  color: #737373;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 700;
  word-wrap: break-word;
}
